<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div class="container">

    <p>Bonjour,</p>

    <p>
        Votre demande d'achat, enregistrée sous la référence
        <strong th:text="${id}"></strong>
        le
        <strong th:text="${dateDemande}"></strong>,
        a été transmise à
        <strong th:text="${Validateur.prenom + ' ' + Validateur.nom}"></strong>
        pour validation.
    </p>

    <p>
        Vous serez informé(e) dès qu'une décision sera prise.
    </p>

    <br>

    <p>Cordialement,</p>

    <br>

    <p><img src="cid:signature-image"></p>

</div>
</body>
</html>