<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8" /></head>
<body>
<div class="container">
    <p>Bonjour <span th:text="${destinataire.prenom + ' ' + destinataire.nom}"></span>,</p>
    <p>
        La demande <strong th:text="${id}"></strong> de
        <span th:text="${demandeur.prenom + ' ' + demandeur.nom}"></span>
        vient d'être validée à l'étape <strong th:text="${etape}"></strong>
        par <span th:text="${validateur.prenom + ' ' + validateur.nom}"></span>
        le <span th:text="${dateDecision}"></span>.
        <br/>
        Elle est désormais en attente de votre validation : <strong th:text="${prochaineEtape}"></strong>.
    </p>
    <br/>
    <p>Cordialement,</p>
    <p><img src="cid:signature-image" /></p>
</div>
</body>
</html>