<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
<div class="container">
    <p>Bonjour,</p>
    <p> La demande <span th:text></span> a été reçue au nom de <span th:text="${demandeur.prenom} +' '+ ${demandeur.nom}"></span> le <span th:text="${dateDemande}"></span> ; pour votre validation.</p>
        <br>
    <p>Cordialement,</p>
    <br>
    <p><img src="cid:signature-image"> </p>
</div>
</body>
</html>